<h2 mat-dialog-title>Add a Chicken</h2>
<mat-dialog-content class="mat-typography">
  <form class="form" [formGroup]="addChickenForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option [value]="1">Brahma</mat-option>
        <mat-option [value]="2">Buff Orpington</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="addChickenForm.value"
  >
    Add
  </button>
</mat-dialog-actions>
