<mat-toolbar color="primary">
  <div class="brand" (click)="goBack()">
    <button mat-icon-button *ngIf="showBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Animals</span>
  </div>
  <div class="buttons">
    <button mat-button routerLink="/cats">Cats</button>
    <button mat-button routerLink="/chickens">Chickens</button>
    <button mat-button routerLink="/dogs">Dogs</button>
  </div>
  <span class="flex"></span>
  <button mat-flat-button *ngIf="isLoggedIn()" (click)="logout()">
    Logout
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
