mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.buttons {
  display: flex;
  gap: 1em;
}

span:not(.flex) {
  cursor: pointer;
}

.flex {
  flex: 1;
}
