<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ chicken.name }}</mat-card-title>
    <mat-card-subtitle>
      <ng-container [ngSwitch]="chicken.type">
        <span *ngSwitchCase="1">Brahma</span>
        <span *ngSwitchCase="2">Buff Orpington</span>
      </ng-container>
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="('baseUrl' | env) + chicken.imageUrl"
    *ngIf="chicken.imageUrl"
  />
  <mat-card-content>
    <p>{{ chicken.description }}</p>
  </mat-card-content>
  <mat-card-actions align="end" *ngIf="showActions">
    <button
      mat-button
      color="warn"
      (click)="deleteChicken(chicken)"
      *ngIf="isLoggedIn$ | async"
    >
      Delete
    </button>
    <button mat-button [routerLink]="['/', 'chickens', chicken.id]">
      {{ (isLoggedIn$ | async) ? "Edit" : "View" }}
    </button>
  </mat-card-actions>
</mat-card>
